@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /* force to inherit from body */
}

body {
  font-family: 'Poppins', Helvetica, sans-serif;
  box-sizing: border-box;
}

.textarea_input {
  &::placeholder {
    font-size: 1.2rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 1px;
  margin: 0.5rem 0;
}

input {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
}

//////////////////////////
// HELPER CLASSES
/////////////////////////
.abs-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

//////////////////////////
// MARKDOWN STYLES
//////////////////////////

code {
  font-family: 'Victor Mono', monospace;
  margin: 0.8rem 0;
  padding: 0.2rem 0.6rem !important;
  background: rgba(238, 238, 238, 0.808) !important;
  border-radius: 5px;
}

blockquote {
  border-left: 2px solid;
  border-color: rgb(40, 41, 48);
  background: rgba(241, 241, 241, 0.651);
  padding: 0.5rem 0.8rem;
  margin: 0.3rem 0;
}

ol,
ul {
  margin: 0.2rem 1.2rem;
}

a {
  text-decoration: none;
  color: #466bf1;
  padding: 0.2rem 0.3rem;
  position: relative;
  font-weight: 500;
}

table {
  border-collapse: collapse;
  width: 100%;
  td,
  th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  tr:hover {
    background-color: rgb(238, 238, 238);
  }
  th {
    font-weight: 500;
    padding: 0.8rem 0.6rem;
    text-align: left;
    background-color: #949494;
    color: white;
  }
}
